{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "unit-whitelist": ["em", "rem", "%", "s", "px", "deg"]
  }
}
