.cardanim-enter {
	transform:scale(0);
}
.cardanim-enter.cardanim-enter-active {
	transform:scale(1);
  transition: .3s cubic-bezier(.25,.8,.25,1);
}
.cardanim-exit {
	transform:scale(1);
}
.cardanim-exit.cardanim-exit-active {
	transform:scale(0);
  transition: .3s cubic-bezier(.25,.8,.25,1); 
}