@import "variables";

.exp-form {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 20vh;
  max-height: 70vh;
  min-width: 50vw;
  max-width: 70vw;
  padding: 0.25em;
}

.exp-form p {
  font-size: 0.875em;
  font-family: "Proxima N W01 Smbd", sans-serif;
}

.exp-form label {
  color: $gray;
}

.exp-form input,
.exp-form textarea {
  width: 30vw;
  margin-bottom: 1.5rem;
  color: $gray;
}

@media only screen and (max-width: 40em) {
  .exp-form {
    min-width: 70vw;
  }
  .exp-form input,
  .exp-form textarea {
    width: 60vw;
  }
}
@media only screen and (min-width: 40.063em) {
  .exp-form input,
  .exp-form textarea {
    width: 40vw;
  }
}

@media only screen and (min-width: 64.063em) {
  .exp-form input,
  .exp-form textarea {
    width: 30vw;
  }
}

@media only screen and (min-width: 120.063em) {
  .exp-form input,
  .exp-form textarea {
    width: 30vw;
  }
}

/*  TYPEAHEAD  */
.exp-typeahead {
  position: relative;
}

.exp-typeahead > ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  max-width: 50vw;
  background: $white;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: none;
  transition: 0.3s;
  z-index: 1;
}

.exp-typeahead > ul.active {
  box-shadow: 0 5px 10px rgba($black, 0.2), 0 5px 5px rgba($black, 0.22);
}

.exp-typeahead > ul > li {
  padding: 0.5em 1.5em;
  cursor: pointer;
  background: transparent;
  transition: 0.25s;
}

.exp-typeahead > ul > li:hover {
  background: linear-gradient(
    to right,
    rgba($gold-medium, 1) 0%,
    rgba($gold-medium, 0.75) 75%,
    rgba($gold-light, 0.5) 100%
  );
  color: $white;
}
