/*

gray -  #32373e  rgba(50,55,62,1)
gold light - ffd68b rgba(255,214,139,1)
gold med - ca992c rgba(202,153,44,1)
gold dark - 846528 rgba(132,101,40,1)


Proxima N W01 Light
Proxima N W01 Reg
Proxima N W01 Smbd
Proxima N W01 Bold

*/

@import "variables";

/*  STOP TRANSITION ON PAGE LOAD  */
.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

/*  GLOBAL STYLES */

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  line-height: 1.5;
  font-family: "Proxima N W01 Light", sans-serif;
  color: $gray;
  background: $white;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 40em) {
  body {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 40.063em) {
  body {
    font-size: 0.82666666666667em;
  }
}

@media only screen and (min-width: 64.063em) {
  body {
    font-size: 1em;
  }
}

@media only screen and (min-width: 120.063em) {
  body {
    font-size: 1.25em;
  }
}

strong {
  font-family: "Proxima N W01 Bold", sans-serif;
}

/*  TYPE  */

h1 {
  font-family: "Proxima N W01 Light", sans-serif;
  font-size: 2em;
  line-height: 1.125;
  letter-spacing: 0.063em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
  margin-top: -0.25em;
}

h1 span {
  font-family: "Proxima N W01 Bold", sans-serif;
  display: block;
  letter-spacing: 0.15em;
  font-size: 1.5em;
}

h2 {
  font-family: "Proxima N W01 Bold", sans-serif;
  line-height: 1;
  letter-spacing: 0.093em;
  margin-bottom: 0.425em;
  text-transform: uppercase;
  font-size: 1.425em;
}

h3 {
  font-family: "Proxima N W01 Bold", sans-serif;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  font-size: 2.125em;
}

h4 {
  font-family: "Proxima N W01 Bold", sans-serif;
  line-height: 1;
  letter-spacing: 0.093em;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  text-transform: uppercase;
}

h5 {
  font-family: "Proxima N W01 Bold", sans-serif;
  line-height: 1;
  letter-spacing: 0.063em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h6 {
  font-family: "Proxima N W01 Reg", sans-serif;
  line-height: 1;
  letter-spacing: 0.093em;
  margin-bottom: 0.5em;
  font-size: 1.125em;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

main {
  display: block;
  padding-left: 6rem;
  padding-right: 2rem;
}

main.expanded {
  padding-left: 16rem;
}

@media only screen and (max-width: 40em) {
  h1 {
    font-size: 2.5em;
  }
  h1 span {
    letter-spacing: 0.05em;
  }
  h6 {
    font-size: 1.5em;
  }
}

/*  BUTTONS  */

a,
a:focus,
a:hover,
button,
button:focus,
button:hover {
  position: relative;
  outline: none;
  text-decoration: none;
  font-family: "Proxima N W01 Reg", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.25em;
  transition: 0.5s;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background: $gray;
  margin: 0;
}

a.req,
button.req {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/experience.svg");
  background-color: transparent;
  width: 3em;
  height: 2.5em;
}

a.req:after,
button.req:after {
  content: attr(data-content);
  position: absolute;
  bottom: -0.25em;
  right: -0.25em;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: $white;
  text-align: center;
  line-height: 1.425em;
  letter-spacing: 0;
  transition: 0.5s;
  background: $gold-medium;
}

a.doc,
button.doc {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/tier.svg");
  background-color: transparent;
  width: 2.5em;
  height: 2.5em;
}

a.filter,
button.filter {
  /*border-bottom: 2px solid $gray-medium;*/
  border-bottom: 2px solid transparent;
  font-family: "Proxima N W01 Reg", sans-serif;
  letter-spacing: 0.063em;
  padding-bottom: 0.125em;
  color: $gray-medium;
  background: none;
  text-transform: none;
}

a.filter:hover,
button.filter:hover {
  color: $gray;
}

a.filter.active,
button.filter.active {
  color: $gold-medium;
  border-bottom: 2px solid $gold-medium;
}

a.info,
button.info {
  padding: 0.75em 1.5em;
  min-width: 12.5em;
}

a.info span,
button.info span {
  background: $white;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  color: $gray;
  display: inline-block;
  text-align: center;
  line-height: 1.425em;
  letter-spacing: 0;
  margin-right: 0.5em;
  transition: 0.5s;
}

a.info:hover span,
button.info:hover span {
  background: $gold-medium;
  color: $white;
}

a.fancy,
button.fancy {
  padding: 0.75em 1.5em;
}

a.fancy:before,
button.fancy:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  background: linear-gradient(
    to right,
    rgba($gold-dark, 1) 0%,
    rgba($gold-light, 1) 47%,
    rgba($gold-medium, 1) 100%
  );
  transition: 0.5s;
}

a.fancy:hover:before,
button.fancy:hover:before {
  margin: -3px;
}

a.fancy:hover,
button.fancy:hover {
  background: $white;
  color: $gray;
}

.exp-plus,
.exp-plus:hover {
  position: relative;
  padding: 0 calc(0.75em - 1px);
  cursor: pointer;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: 0.5s;
  background: transparent;
  overflow: hidden;
}

.exp-plus:before {
  content: "";
  display: block;
  position: relative;
  background: $gray;
  height: 1.5em;
  width: 2px;
  margin: 0;
  transition: 0.3s;
}

.exp-plus:after {
  content: "";
  display: block;
  background: $gray;
  position: absolute;
  height: 2px;
  left: 0;
  top: calc(0.75em - 1px);
  width: 1.5em;
  margin: 0;
  transition: 0.3s;
}

.exp-plus.close {
  transform: rotate(45deg);
}

.exp-plus:hover:before {
  background: $gold-medium;
}

.exp-plus:hover:after {
  background: $gold-medium;
}

@media only screen and (max-width: 40em) {
  a.req,
  button.req {
    width: 4.5em;
    height: 4em;
  }
  a.req:after,
  button.req:after {
    /*height: 2em;
    width: 2em;*/
    font-size: 1.5em;
    line-height: 1.333em;
  }
  a.doc,
  button.doc {
    width: 4em;
    height: 4em;
  }
}

/******************************************************************************/
